<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout">

<body>
	<div class="container" th:object="${loginModel}" layout:fragment="content">
		<p>username: <span th:text="*{username}"></span> </p>
		<p>email: <span th:text="*{email}"></span> </p>
		<p>password: <span th:text="*{password}"></span> </p>
	</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
